h1 {
    color: #620762;
    font-size: 3em;
}

body {
    background-color: rgb(243 196 255);
    text-align: center;
    font-family: 'Gupter', serif;
}

ul {
    text-align: center;
    padding-inline-start: 0px;
  }

li {
    font-size: 50px;
    display: inline-block;
}

  a:hover {
    color: #da5ac4;
  }

  a {
    list-style-type: none;
    text-decoration: none;
  }

  .img_circle {
    border-radius: 70%;
  }

  .card {
    background-color: rgb(221 163 163);
    padding: 50px;
    margin: 30px;
    border-radius: 15px;
    box-shadow: 5px, 5px, 10px
  }

  .container {
    width: 1000px;   /* This sets the width */
    margin: 0 auto; /* This automatically sets left/right margins */
  }

  @media (max-width: 960px) {
    /* For a screen < 960px, this CSS will be read */
    .container {
      width: 700px;
    }
  }
  @media (max-width: 720px) {
    /* For a screen < 720px, this CSS will be read */
    .container {
      width: 500px;
    }
  }
  @media (max-width: 540px) {
    /* For a screen < 540px, this CSS will be read */
    .container {
      width: 300px;
    }
  }