h1 {
    font-size: 3em;
}

body {
    background-color: #ede9ef;
    text-align: center;
    font-family: 'Gupter', serif;
    color: #e5c7e5;
}

ul {
    text-align: center;
    padding-inline-start: 0px;
  }

li {
    font-size: 50px;
    display: inline-block;
}

a:hover {
  color: #f5edf5;
}

a {
  list-style-type: none;
  text-decoration: none;
  color: #ffffff;
}

.img_circle {
  border-radius: 70%;
}

.card {
  border: 5px solid #e5c7e5;
  padding: 50px;
  margin: 30px;
  border-radius: 15px;
  display: flex;
}

.container {
  width: 1000px;   /* This sets the width */
  margin: 0 auto; /* This automatically sets left/right margins */
}

.center {
  margin: auto;
  width: fit-content;
  /* border: 3px solid green; */
  padding: 50px;
  padding-bottom: 500px;
}

.hex {
  float: left;
  margin-right: -52px;
  margin-left: -52px;
  margin-bottom: -200px;
}
.hex .left {
  float: left;
  width: 0;
  border-right: 120px solid #3c073c;
  border-top: 208px solid transparent;
  border-bottom: 208px solid transparent;
}
.hex .middle {
  float: left;
  width: 240px;
  height: 416px;
  background: #3c073c;
}
.hex .right {
  float: left;
  width: 0;
  border-left: 120px solid #3c073c;
  border-top: 208px solid transparent;
  border-bottom: 208px solid transparent;
}
.hex-row {
  clear: left;
}
.hex.odd {
  margin-top: 212px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}